[alias]
  co = checkout
  st = status
  ci = commit
  up = pull
  br = branch
  df = diff
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[help]
  autocorrect = 1
[color]
  ui = true
  diff = auto
  status = auto
  branch = auto
[core]
  excludesfile = ~/.gitignore
  editor = slime
  autocrlf = input
[apply]
  whitespace = nowarn
[format]
  pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset
[push]
	default = simple
